body {
    background-color: #F4E8FF;
    color: #6E3667;
    font-family: Arial, sans-serif;
    margin-right: auto;
    margin-left: auto;
    
    
  }
  #wrapper
    {    
  /*margin: 0px auto 0px auto;
  position: relative;*/
  min-width: 700px;
  max-width: 1080px ;
  margin: 0px auto 0px auto;
     }
  header {
    background-color: #DDA0DD;
    overflow: hidden;
  }
    
  .container {
    display: flex;
    justify-content: center; /* Horizontaal centreren */
    align-items: center; /* Verticaal centreren */
    height: 50%; /* Pas de hoogte aan aan je behoeften */}
  h1 {
    color: #FDF6FF;
    font-size: 36px;
    margin: 0;
  }
  h2{
    font-size: 50px;
    text-align: center;
    
  }
  
  nav {
    background-color: #C785D0;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    text-align:center;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #6E3667;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    
  }
  
  footer {
    background-color: #C785D0;
    padding: 20px;
    text-align: center;
   

  }


  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

  .slideshow-container img {
    width: 50%;
    height: auto;
    display: none;
    position: absolute;
  }

  .slideshow-container .slide {
    display: none;
  }

  .slideshow-container .slide.active {
    display: block;
  }
    table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    margin-top: auto;
     position: static;
    top: 0;
    left: 0;
    transform: 0;
  }
  .algemeen
  {
    height: 350px;
    display: flex;
    padding: 20px;
  }
  tr td{
    text-align: left;
    text-decoration: blink;
    font-size: 20px;
    padding-left:20px;

  }td, th {
padding: 10px;
}